.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.menu__title {
  text-align: center;
  max-width: 780px;
  padding-top: 100px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  /* font*/
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  text-align: center;
  max-width: 780px;
  margin-top: 24px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  /* font*/
  font-family: "Noto Serif", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.menu__cards {
  margin-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 100px;
}
.card {
  max-width: 600px;
  flex-direction: column;
  flex-basis: 60%;
  margin-bottom: 100px;
  /* font*/
  font-family: "Noto Serif", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.card__title {
  margin-top: 0;
  padding-bottom: 32px;
  margin-bottom: 0;
  /* font*/
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.card__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.card__list-item {
  display: flex;
  padding-bottom: 16px;
}
.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid white;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
}
