.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.reservation__title {
  text-align: center;
  padding-top: 100px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  /* font*/
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.reservation__form {
  max-width: 385px;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-bottom: 120px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 385px;
}
.form__fieldset {
  border-style: none;
  text-align: start;
}
.form__label {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  /* font*/
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__input {
  max-width: 385px;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  margin-top: 8px;
  margin-right: auto;
  margin-bottom: 32px;
  margin-left: auto;
  border-radius: 4px;
  color: #838383;
  /* font*/
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__button {
  height: 60px;
  max-width: 385px;
  width: 100%;
  margin-top: 32px;
  /* margin-right: auto;*/
  margin-bottom: 32px;
  /*margin-left: auto;*/
  background-color: blue;
  border: 0px;
  border-radius: 4px;
  color: white;
  transition: opacity 0.3s ease-in-out;
  /* font*/
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__button:hover {
  opacity: 70%;
}
.form__checkbox {
  margin-top: 0px;
  margin-right: 12px;
  margin-bottom: 0px;
  margin-left: 0px;
  height: 20px;
  width: 20px;
  border-radius: 2px;
}
.form__label_type_checkbox {
  flex-direction: row;
  justify-content: center;
}
